<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisTareasApp">
        <receiver
            android:name=".ui.widgets.Tasks.MyAppWidget"
            android:exported="false"
            android:label="@string/widget_tareas_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MisTareasApp"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".ui.widgets.shopping.ListaCompraWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_compra_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lista_compra_widget_info" />
        </receiver>

        <receiver
            android:name=".ui.widgets.Tasks.TareasVozWidget"
            android:exported="true"
            android:label="Voz Tareas">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_tareas_voz_info" />
        </receiver>

        <receiver
            android:name=".ui.widgets.shopping.CompraVozWidget"
            android:exported="true"
            android:label="Voz Compra">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_compra_voz_info" />
        </receiver>

        <activity
            android:name=".ui.screens.tasks.VozTareasActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.screens.shopping.VozCompraActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true" />

        <receiver android:name=".core.notifications.tasks.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".core.notifications.tasks.NotificacionReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>